@model CreateBlogViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowOnHomepage" class="control-label"></label>
                <input asp-for="ShowOnHomepage" type="checkbox" class="form-control" />
                <span asp-validation-for="ShowOnHomepage" class="text-danger"></span>
            </div>

            @{ var openGraphModel = new OpenGraphViewModel();}

            @Html.EditorFor(x => Model.OpenGraphViewModel, "OpenGraph")

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="https://cdn.tiny.cloud/1/akvzhun2afqojsy47mivz5z68z4jx6airrs5ytbcv4nbxlzz/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/StaticFiles/dist/js/admin/blog.js"></script>
    <script>
        $(document).ready(function () {
            window.blog.create('#content');
        })
    </script>
}

