@model Blog.ViewModels.BackEnd.Blogs.EditBlogViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" id="content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowOnHomepage" class="control-label"></label>
                <input asp-for="ShowOnHomepage" type="checkbox" class="form-control" />
                <span asp-validation-for="ShowOnHomepage" class="text-danger"></span>
            </div>

            @Html.EditorFor(x => Model.OpenGraphViewModel, "OpenGraph")

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section scripts {
    <script src='https://cdn.tiny.cloud/1/df45ma6qrwzlne508hq1iwgfrn03ubinnud9f6kl1gp3wre5/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
    <script src="~/StaticFiles/dist/js/admin/blog.js"></script>
    <script>
        $(document).ready(function () {
            window.blog.create('#content');
        })
    </script>
}