@using Microsoft.CodeAnalysis

@{
    ViewData["Title"] = "About me";
}

@await Component.InvokeAsync("Header", new { Title = "About Me", SubTitle = "This is what I do." })

@section Styles
{
    <link href="~/css/pages/about-us.css" rel="stylesheet" />
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Summary</h3>
            <p>Passionate Software Engineer with almost 4 years of professional experience building web and desktop applications. 15+ projects focused on .NET throughout career with cross-collaboration on teams as large as 10 engineers. Seeking a x position at y company where I bring my ability to streamline processes and project problem resolution to support your company's mission/goal of z.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="about-me-section">
                <h3>Experience</h3>
                <div class="wrapper">
                    <div class="cards">

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Wiener Zeitung Digitalen Publikationen</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>A-triks</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Getix Ltd</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-me-section">
                <h3>Projects</h3>
                <div class="wrapper">
                    <div class="cards">

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>SiteTriks</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Personal Blog</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Project Tracker</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>AlienRun</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-me-section">
                <h3>Education</h3>
                <div class="wrapper">
                    <div class="cards">

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Web/Mobile Software Development</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Secondary Education</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about-me-section">
                <h3>Courses</h3>
                <div class="wrapper">
                    <div class="cards">

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Domain-Driven Design Fundamentals</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Microservices Architecture</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>React The Big Picture</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>ASP.NET Core Identity Deep Dive</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>
                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Defensive Coding in C#</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Modern Software Architecture: Domain Models, CQRS, and Event Sourcing</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>
                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>Architecting an ASP.NET Core MVC Application for Unit Testability</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>

                        <div class=" card [ is-collapsed ] ">
                            <div class="card__inner [ js-expander ]">
                                <span>ASP.NET Core: The MVC Request Life Cycle</span>
                            </div>
                            <div class="card__expander">
                                <i class="fa fa-close [ js-collapser ]"></i>
                                Expander
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="about-me-section">
                <h3>Skills</h3>
                <p>C#</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>.NET</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Entity Framework / Entity Framework Core</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>ASP.NET Core MVC / ASP.NET Core Web API</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Clean Code</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>JavaScript</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>SQL</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>Design Patterns</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <p>React</p>
                <div class="progress mb-3">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="about-me-section">
                <h3>Certifications</h3>
                <ul>
                    <li>Deutsches Sprachdiplom II (DSD II)</li>
                    <li>Cambridge English: Advanced</li>
                </ul>
            </div>
            <div class="about-me-section">
                <h3>Languages</h3>
                <ul>
                    <li>Bulgarian</li>
                    <li>English</li>
                    <li>German</li>
                </ul>
            </div>
            <div class="about-me-section">
                <h3>Books</h3>
                <ul>
                    <li>Bulgarian</li>
                    <li>English</li>
                    <li>German</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section ScriptsBody {
    <script>
        var $cell = $('.card');

//open and close card when clicked on card
        $cell.find('.js-expander').click(function() {

            var $thisCell = $(this).closest('.card');

            if ($thisCell.hasClass('is-collapsed')) {
                $cell.not($thisCell).removeClass('is-expanded').addClass('is-collapsed').addClass('is-inactive');
                $thisCell.removeClass('is-collapsed').addClass('is-expanded');
    
                if ($cell.not($thisCell).hasClass('is-inactive')) {
                    //do nothing
                } else {
                    $cell.not($thisCell).addClass('is-inactive');
                }

            } else {
                $thisCell.removeClass('is-expanded').addClass('is-collapsed');
                $cell.not($thisCell).removeClass('is-inactive');
            }
        });

//close card when click on cross
        $cell.find('.js-collapser').click(function() {

            var $thisCell = $(this).closest('.card');

            $thisCell.removeClass('is-expanded').addClass('is-collapsed');
            $cell.not($thisCell).removeClass('is-inactive');

        });
    </script>
}