
@{
    ViewData["Title"] = "About me";
}

@await Component.InvokeAsync("Header", new { Title = "About Me", SubTitle = "This is what I do." }) 

<div class="container">
    <div class="row">
       
    </div>
</div>
