
@{
    ViewData["Title"] = "Contact";
}

@await Component.InvokeAsync("Header", new { Title = "Contact Me", SubTitle = "Have questions? I have answers." })

<div class="row">
    <div class="col-md-4">
        <div class="item-box-blog">
            <div class="item-box-blog-body">
                <!--Heading-->
                <div class="item-box-blog-heading">
                    <a href="#" tabindex="0">
                        <h2>Contact</h2>
                    </a>
                </div>
                <!--Text-->
                <div class="item-box-blog-text">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>