<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Blog.Web.exe" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="InProcess">
    </aspNetCore>
    <staticContent>
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="font/opentype" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="NonWwwRedirect"  stopProcessing="true">
          <match url="(.*)" />
          <conditions>
              <add input="{HTTP_HOST}" pattern="^www.kaloyanit\.com$" />
          </conditions>
          <action type="Redirect" url="http://kaloyanit.com/{R:1}" />
      </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>