
<header class="masthead" style="background-image: url('/images/home-background.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Kaloyan's Blog</h1>
                    <span class="subheading">Consistency is the key to Success</span>
                </div>
            </div>
        </div>
    </div>
</header>